*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/images/encryption.jpeg");
    background-size: 100%;
    color: white;
    font-weight: 700;
    font-size: 20px;
    
}

th{
    background-color: aqua !important;
}

.update{
    width: 150px !important;
    position: absolute ;
    top: 30px ;
    right: 100px;
}

.update-btn{
    padding: 10px 15px;
    position: fixed !important;
    right: 50px !important;
}

.title{
    font-family: monospace;
}